/* General */
* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  width: 100%;
}

.content {
  margin: 0 auto;
  max-width: 1080px;
}

/* Header */
#header {
  width: 100%;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.4);
  background: -webkit-linear-gradient(9deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.8)); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(9deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.8)); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  height: 120px;
  top: -30px;
  position: fixed;
  z-index: 5;
  transform: skewY(2deg);
  .content{
    transform: skewY(-2deg);
    margin-top: 40px;
    max-width: 1960px;
    #nav {
      float: right;
      margin: 20px 100px 0 0;
      ul{
        list-style: none;
        display: block;
        margin: 0 auto;
        list-style: none;
      }
      li{
        margin-top: 9px;
        float: left;
        padding-left: 21px;
        a {
          color: #fff;
          opacity:0.6;
          font-size: 20px;
          text-decoration: none;
          font-family: 'Wellfleet';
        }
        a.active {
          color: #fff;
          opacity:1;
          border-bottom: 2px solid #fff;
        }
        a:hover {
          color: #fff;
          opacity:1;
        }
      }
    }
  }
}

.hidden {
  opacity: 0;
}

/* Skews */
.skew{
  position: relative;
  color: #fff;
  z-index: 2;
  .bot-skew {
    background: #AFEEFF; /* fallback for old browsers */
    background: -webkit-linear-gradient(0deg, #FFF, #AFEEFF); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(0deg, #FFF, #AFEEFF); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  }
  .top-skew {
    background: #AFEEFF; /* fallback for old browsers */
    background: -webkit-linear-gradient(0deg, #AFEEFF, #FFF); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(0deg, #AFEEFF, #FFF); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  }
  .default-skew {
    box-sizing: content-box;
    width: 50%;
    height: 60px;
    position: absolute;
    top: -30px;
  }
  .left-skew-down {
    left: 0;
    transform: skewY(3deg);  /* SKEW */
    border-right: 0.5px solid transparent;
  }
  .right-skew-down {
    right: 0;
    transform: skewY(-3deg);  /* SKEW */
    border-left: 0.5px solid transparent;
  }
  .left-skew-up {
    left: 0;
    transform: skewY(-3deg);  /* SKEW */
    border-right: 0.5px solid transparent;
  }
  .right-skew-up {
    right: 0;
    transform: skewY(3deg);  /* SKEW */
    border-left: 0.5px solid transparent;
  }
}

.skew-image{
  background:url('../img/skew.jpg') 50% 0 no-repeat fixed;
  color: #fff;
  height: 300px;
  margin: 0;
  padding: 0 0 0 0;
  background-size: cover;
}

/* Slide 1 */
.slide1{
  background:url('../img/slide1.jpg') 50% 0 no-repeat fixed;
  color: #fff;
  height: 1000px;
  margin: 0;
  padding: 200px 0 0 0;
  background-size: cover;
  h1 {
    font-family: "Oswald";
    font-weight: normal;
    font-size: 60px;
    text-align: center;
    margin: 5px 0;
    padding: 0;
    z-index: 1;
    position: relative;
  }
}

/* Slide 2 */
.slide2{
  background: #FFF; /* fallback for old browsers */
  display: flex;
  color: #333333;
  height: 100%;
  padding: 100px 0;
  text-align: justify;
  h2, p {
    text-align: justify;
    font-family: "Oswald";
  }
  h2 {
    font-size: 40px;
    padding: 60px 0 30px 0;
  }
  p {
    font-size: 30px;
  }
}

/* Slide 3 */
.slide3{
  position: relative;
  display: block;
  color: #333333;
  padding: 100px 0 200px 0;
  z-index: 1;
  text-align:center;
  background: #AFEEFF; /* fallback for old browsers */
  background: -webkit-linear-gradient(0deg, #FFF, #ffffcc, #FFF); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(0deg, #FFF, #ffffcc, #FFF); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  .content{
    position: relative;
    .desccontainer{
      display:inline-block;
      position: relative;
      height: 100%;
      .desc{
        font-family: "Oswald";
        font-size: 20px;
        font-weight: 900;
        width: 120px;
        height: 40px;
        position: absolute;
        display: none;
        background: #ffedcc;
        border: 3px solid #ffb732;
        border-radius: 5px;
        z-index: 2;
      }
    }
  }
  h2 {
    text-align: center;
    font-family: "Oswald";
    font-size: 40px;
    margin: 0 0 30px 0;
    padding: 40px 0 20px 0;
  }
  .logo {
    width: 100px;
    height: 100px;
    margin: 0 10px;
    transition: all 0.3s;
  }
}

/* Slide 5 */
.slide4{
  position: relative;
  background-color: #FFF;
  height: 400px;
  margin: 0 auto;
  padding: 250px 0;
}

.scale{
  transform: scale(1.1);
  background-image: url('../img/brackets.png');
  background-size: cover;
}
